<link rel="stylesheet" href="/static/scss/website/style.css"> 

<nav id="nav">
    <ul id="navBarList">
        <li><a href="/">Reactor Tracker</a></li>
        {% if not request.session.userId %}
            <li><a href="/Login/">Login</a></li>
            <li><a href="/Register/">Register</a></li>
        {% endif %}
        {% if request.session.userId %}
            <li><a href="/Reactor/">Reactor</a></li>
            <li><a href="/Logout/">Logout</a></li>
        {% endif %}
    </ul>
</nav>

<script>

</script>