/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: #1A1A1A;
  font-family: "Junge", cursive;
}

#nav {
  margin: 0;
  padding: 0 !important;
  width: 100vw;
  height: 5%;
  border-bottom: #FF69B4 2px solid;
  display: flex;
  align-items: center;
  padding-left: 0.75%;
  color: white;
}
#nav ul {
  margin-left: 1%;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
}
#nav ul li {
  color: white;
  font-size: 1.22rem;
}
#nav ul li:not(:first-child) {
  margin-left: calc(1% + 12.5px);
}
#nav ul li:hover {
  color: #FF69B4;
  transition: 1.25s;
}
#nav ul li a {
  text-decoration: none;
}
#nav #navBarList {
  color: #FF69B4;
  width: 240px;
}
#nav #navBarList a {
  display: block;
  width: -moz-max-content;
  width: max-content;
}

#loginWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 7.5%;
}
#loginWrapper #loginContainer {
  padding: 5px;
  width: 15%;
  height: 20rem;
  border: 3px solid #FF69B4;
  border-radius: 2.25rem 2.25rem 12.5px 12.5px;
  text-align: center;
  box-shadow: 1px 12px 25px rgba(0, 0, 0, 0.78);
}
#loginWrapper #loginContainer #loginErrorText {
  color: #FFFFFF;
  position: absolute;
}
#loginWrapper #loginContainer #loginMainHeader {
  color: #FFFFFF;
  margin-top: 0;
  font-size: 2.5rem;
  border-bottom: solid 2px #FF69B4;
  padding: 10px 40px;
}
#loginWrapper #loginContainer #loginForm {
  margin: 0;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column-reverse;
}
#loginWrapper #loginContainer #loginForm > input {
  color: #FF69B4;
  background-color: #2B3035;
  border: 1px solid #FF69B4;
  border-radius: 12.5px;
  height: 15%;
  margin-bottom: 12.5px;
}
#loginWrapper #loginContainer #loginForm > input:focus {
  outline: none;
  border: 1px solid #FF69B4;
}

#loginWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 7.5%;
}
#loginWrapper #loginContainer {
  padding: 5px;
  width: 15%;
  height: 20rem;
  border: 3px solid #FF69B4;
  border-radius: 2.25rem 2.25rem 12.5px 12.5px;
  text-align: center;
  box-shadow: 1px 12px 25px rgba(0, 0, 0, 0.78);
}
#loginWrapper #loginContainer #loginErrorText {
  color: #FFFFFF;
  position: absolute;
}
#loginWrapper #loginContainer #loginMainHeader {
  color: #FFFFFF;
  margin-top: 0;
  font-size: 2.5rem;
  border-bottom: solid 2px #FF69B4;
  padding: 10px 40px;
}
#loginWrapper #loginContainer #loginForm {
  margin: 0;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column-reverse;
}
#loginWrapper #loginContainer #loginForm > input {
  color: #FF69B4;
  background-color: #2B3035;
  border: 1px solid #FF69B4;
  border-radius: 12.5px;
  height: 15%;
  margin-bottom: 12.5px;
}
#loginWrapper #loginContainer #loginForm > input:focus {
  outline: none;
  border: 1px solid #FF69B4;
}

body {
  overflow-x: hidden;
}

.pageContainer {
  padding-top: 10px;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
}

.notificationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.notification {
  width: 60%;
  border: 2px solid #FF69B4;
  border-radius: 12.5px;
  color: white;
  padding: 1rem;
  background-color: #222;
}

body {
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=style.css.map */